################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/数据结构/数据结构.vcxproj
/数据结构/数据结构.vcxproj.filters
/数据结构/数据结构.vcxproj.user

# 忽略 Visual Studio 用户特定的配置文件
*.suo
*.user
*.userosscache
*.sln.docstates

# 忽略编译生成的输出目录
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# 忽略 Visual Studio 缓存和选项目录
.vs/

# 忽略编译生成的中间文件和可执行文件
*.obj
*.exe
*.dll
*.pdb
*.ilk
*.log
*.tmp

#我自己加的忽略
*.vs
